<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="enviar()" class="modern-form">
        <h2>Formulario de Registro</h2>

        <!-- Nombre -->
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre">
            @if (loginForm.get('nombre')?.invalid && loginForm.get('nombre')?.touched){
                <div class="error-message">
                    El nombre es obligatorio.
                </div>
            }
        </div>

        <!-- Apellido 1 -->
        <div class="form-group">
            <label for="apellido1">Apellido 1</label>
            <input type="text" id="apellido1" formControlName="apellido1" placeholder="Ingrese su primer apellido">
            @if (loginForm.get('apellido1')?.invalid && loginForm.get('apellido1')?.touched){
                <div class="error-message">
                    El primer apellido es obligatorio.
                </div>
            }
        </div>

        <!-- Apellido 2(No validación) -->
        <div class="form-group">
            <label for="apellido2">Apellido 2</label>
            <input type="text" id="apellido2" formControlName="apellido2" placeholder="Ingrese su segundo apellido (opcional)">
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="ejemplo@correo.com">
            @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                <div class="error-message">
                    El email no es válido.
                </div>
            }
        </div>

        <!-- Contraseña -->
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControlName="password" placeholder="Mínimo 10 caracteres">
            @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                <div class="error-message">
                    La contraseña no es válida.
                </div>
            }
        </div>

        <button type="submit" [disabled]="loginForm.invalid" class="submit-btn">
            Enviar.
        </button>
    </form>
</div>
